local
.settings
local.properties
project.properties
bin
gen
.classpath

# From https://github.com/github/gitignore/raw/master/Android.gitignore
# built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class

# generated GUI files
*R.java

*~

# IntelliJ IDE
*.iml
.idea
out

build.xml
proguard-project.txt
ant.properties
